* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.x {
  border: 1px solid red;

}

.flex-1 {
  flex: 1;
}

.gap-140 {
  gap: 140px;
}

.background {
  background-color: #F7F3EB;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: #D9A741;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #D9A741;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: transparent;
  color: #D9A741;
  border: 1px solid #D9A741;
}

/* .sidebar {
  left: -250px;
  transition: 0.3s ease-in-out;
}
.sidebar.open {
  left: 0;
} */

.sidebar.collapsed {
  width: 100px;
  /* padding: 10px 5px; */
  /* transition: 0.3s; */
}

.sidebar.expanded {
  width: 250px;
  /* padding: 20px 15px; */

}

/* .sidebar {
  transition: 0.3s ;
} */

/* .sidebar svg {
  transition: font-size 0.3s ease;
  font-size: 16px;
}

.sidebar.expanded svg {
  font-size: 24px;
} */


::placeholder {
  opacity: 0.4 !important;
  color: #000 !important;
}

input {
  font-size: medium !important;
}